<div class="min-vh-100 d-flex flex-column" style="height: 100vh;">
  <header class="border-bottom p-3 mb-0" style="background-color: #efefef; position: sticky; top: 0; z-index: 1020;">
    <div class="container">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <span class="fs-4 px-4">Contoso Shop Agent</span>
      </a>
    </div>
  </header>
  <main class="flex-shrink-1 flex-grow-1 pt-3" style="overflow-y: auto;">
    <div class="container">
      @for (message of messages; track message) {
        @if(message.from == "system") {
          <div class="alert alert-warning text-start float-start mb-2"
            style="clear: both; max-width: 75%;">{{message.text}}</div>
        }
        @else if(message.from == "bot") {
          <div class="alert alert-info text-start float-start mb-2"
            style="clear: both; max-width: 75%;">{{message.text}}</div>          
        }
        @else {
          <div class="alert alert-primary text-start float-end mb-2"
            style="clear: both; max-width: 75%;">{{message.text}}</div>
        }
      }
    </div>
  </main>
  <footer class="footer mt-0 py-3 bg-light" style="position: sticky; bottom: 0; z-index: 1020;">
    <div class="container">
      <div class="input-group mb-3">
        <input type="text" class="form-control" #messageInput
          (keyup.enter)="sendMessage(messageInput.value); messageInput.value=''">
        <button class="btn btn-secondary" type="button"
          (click)="sendMessage(messageInput.value); messageInput.value=''">Send</button>
      </div>
    </div>
  </footer>
</div>